*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

header{
    background: #1e3a8a;
    padding: 20px 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h2{
    color: white;
    font-size: 30px;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin-left: 25px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover{
    color: #60a5fa;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 10%;
    background:white;
}

.hero-text{
    width:55%;
}

.hero-text h1{
    font-size:55px;
    color:#1e3a8a;
}

.hero-text h2{
    margin:15px 0;
}

.hero-text p{
    margin:20px 0;
}

.hero button{
    padding:12px 30px;
    background:#1e3a8a;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.hero button:hover{
    background:#2563eb;
}

.hero-image img{
    width:300px;
    height:300px;
    border-radius:50%;
    object-fit:cover;
}

/* Sections */
section{
    padding:70px 10%;
}

section h2{
    text-align:center;
    margin-bottom:30px;
    color:#1e3a8a;
    font-size:35px;
}

/* About */
.about p,
.education p{
    text-align: align-left;
    max-width:700px;
    margin:auto;
}

/* Skills */
.skill-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.card{
    background:white;
    padding:30px;
    text-align:center;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
    font-weight:bold;
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

/* Projects */
.project-card{
    background:white;
    padding:25px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,.1);
}

/* Contact */
form{
    display:flex;
    flex-direction:column;
    width:60%;
    margin:auto;
}

form input,
form textarea{
    padding:15px;
    margin-bottom:20px;
    border:1px solid #ccc;
    border-radius:5px;
}

form textarea{
    height:150px;
    resize:none;
}

form button{
    padding:15px;
    background:#1e3a8a;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

form button:hover{
    background:#2563eb;
}

/* Footer */
footer{
    background:#1e3a8a;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Responsive Design */
@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav ul{
        flex-direction:column;
        text-align:center;
        margin-top:20px;
    }

    nav ul li{
        margin:10px 0;
    }

    .hero{
        flex-direction:column;
        text-align:center;
    }

    .hero-text{
        width:100%;
    }

    .hero-image img{
        margin-top:30px;
        width:220px;
        height:220px;
    }

    .skill-container{
        grid-template-columns:1fr;
    }

    form{
        width:100%;
    }
}